[submodule "Formacoes/Apache_Kafka"]
	path = Formacoes/Apache_Kafka
	url = git@github.com:C3P0gan/Apache-Kafka.git
[submodule "Formacoes/Data_Science"]
	path = Formacoes/Data_Science
	url = git@github.com:C3P0gan/Data-Science.git
[submodule "Formacoes/HTML_e_CSS"]
	path = Formacoes/HTML_e_CSS
	url = git@github.com:C3P0gan/HTML-e-CSS.git
[submodule "Formacoes/Machine_Learning"]
	path = Formacoes/Machine_Learning
	url = git@github.com:C3P0gan/Machine-Learning.git
[submodule "Formacoes/Machine_Learning_Avancada"]
	path = Formacoes/Machine_Learning_Avancada
	url = git@github.com:C3P0gan/Machine-Learning-Avancada.git
[submodule "Formacoes/Rust"]
	path = Formacoes/Rust
	url = git@github.com:C3P0gan/Rust.git
[submodule "Formacoes/Scripting"]
	path = Formacoes/Scripting
	url = git@github.com:C3P0gan/Scripting.git
[submodule "Formacoes/Shell_Scripting"]
	path = Formacoes/Shell_Scripting
	url = git@github.com:C3P0gan/Shell-Scripting.git
